*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
  }

.buttons-back ul li {
    font-size: 3rem; 
}

  

body{
    background: #EEE
}

footer{
    width: 20rem;
    height: 20rem;
    background: black
}

