*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
  }

.buttons-back ul li {
    font-size: 3rem; /* Adjust the font size as needed */
}

  

body{
    background: linear-gradient(to right, rgba(211, 118, 118) 20% ,rgba(244, 237, 204) 60%);
    display: flex;
    
    
}
/* Add this CSS to your info.css file */

/* Add this CSS to your info.css file */

.taal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-top: 4rem;
    margin-right: 6rem;
}

.language{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    margin-top: 4rem;
    margin-right: 1rem;
}





.buttons-back{
    display: flex;
    width: 10rem;
    height: 5rem;
    border-radius: 10%;
    min-height:100%;

    list-style: none;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
}