*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

ul {
    list-style-type: none;
  }
  

body{
    background: linear-gradient(to right, rgba(211, 118, 118) 20% ,rgba(244, 237, 204) 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    
}


.buttons{
    position: relative; 
    width: 5rem;
    height: 5rem;
    background: rgba(211, 118, 118);
    transition: .2s;
    transform: translate(0, 0) rotateY(0) skewY(0);
    transition: .2s;
    
  
   
}
.buttons:hover{
    
    transform: translate(-1.5rem, -5px) rotateY(-15deg) skewY(-10deg);
}

i{
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    z-index: 10;
    transition: 0.2s;
}

.buttons:hover i{
    color: white;
}

.buttons span{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transition: .2s;
    transform: translate(0,0);
}


.buttons span:nth-of-type(4){
    transform: translate(-4px,-4px);
    transition: .2s;
    z-index: 0;
    opacity: .5;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.buttons:hover span:nth-of-type(1){
    transform: translate(8px, 4px);
    background: rgba(211, 118, 118) ;
}

.buttons:hover span:nth-of-type(2){
    transform: translate(16px, 8px);
    background: rgb(210, 111, 111) ;
}

.buttons:hover span:nth-of-type(3){
    transform: translate(24px, 12px);
    background: rgb(206, 98, 98) ;
}


.buttons span:nth-of-type(4)::before{
    content: '';
    position: absolute;
    width: 0; height: 100%;
    top: 0; left: 0;
    border-bottom: 1px solid black;
    transition: .2s;
}


.buttons span:nth-of-type(4)::after{
    content: '';
    position: absolute;
    width: 100%; height: 0;
    top: 0; left: 0;
    border-right: 1px solid black;
    transition: .2s;
}

.buttons:hover span:nth-of-type(4)::before{
    width: 100%;
}
.buttons:hover span:nth-of-type(4)::after{
    height: 100%;
}

